<?xml version="1.0" encoding="utf-8"?>
<!--
        Copyright (c) 2012, Qualcomm Technologies, Inc.
        All Rights Reserved.
        Qualcomm Technologies Proprietary and Confidential.
        Developed by QRD Engineering team.
-->
<!-- android:sharedUserId="android.uid.system" -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.agent"
    android:sharedUserId="android.uid.system" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.REBOOT" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" >
    </uses-permission>

    <application >
        <service android:name="com.qualcomm.agent.SystemAgent" >
            <intent-filter >
                <action android:name="android.system.agent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.system.fullagent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.qualcomm.agent.PhoneProcessAgent"
            android:process="com.android.phone" >
            <intent-filter >
                <action android:name="android.phoneprocess.agent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>